.weathercard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 30px;
    transition: all 0.3s ease-in-out;
}

.weathercard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.weathercard .titulo-ciudad {
    font-size: 30px;
    font-weight: bold;
    font: bold;
    margin-bottom: 10px;
}

.weathercard .titulo-pais {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.weathercard .temperatura {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.weather-icono {
    justify-content: center;
    align-items: center;
}
